@import "tailwindcss";
@import url('https://sonastudio.in/blog/wp-includes/css/dist/block-library/style.min.css');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-schibsted-grotesk: 'Schibsted Grotesk', sans-serif;
  --font-dmserif-text: 'DM Serif Text', serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

h1,h2,h3,h4{
  font-family: var(--font-dmserif-text);
}

.postContent p{
  padding: 5px 0;
}