@import "tailwindcss";
@import url('https://sonastudio.in/blog/wp-includes/css/dist/block-library/style.min.css');

:root {
  --primary: #262626;
  --background: #ffffff;
  --foreground: #171717;
  --font-poppins: 'Poppins', sans-serif;
  --font-dmsans: 'DM Sans', serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

h1,h2,h3,h4{
  font-family: var(--font-poppins);
}

h1,h3{
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(#262626,#B8C2CE);
  background-clip: text;
  color: transparent;
}

.postContent p{
  padding: 5px 0;
}

h2{
  font-weight: 600;
  color: var(--primary);
  margin-bottom: 20px;
}